name: Periapt CI

on:
  push

jobs:
  build-and-deploy-server-application:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3

      - name: install server dependancies as well
        run:  npm install

      - name: build client
        run: npm run build-client

      - name: clean up client
        run: cd src/client && rm -r src && rm -r node_modules

      - name: build server
        run: npm run build
        env:
          CI: false
      
      - name: copy client files to build
        run: cp src/client/ dist/src/client
        
      - name: clean up server
        run: rm -r src

      - name: Generate deployment package
        run: zip -r deploy.zip . -x "**node_modules**" -x "*.git*"

      - name: Get timestamp
        uses: gerred/actions/current-time@master
        id: current-time

      - name: Run string replace
        uses: frabert/replace-string-action@master
        id: format-time
        with:
          pattern: '[:\.]+'
          string: "${{ steps.current-time.outputs.time }}"
          replace-with: '-'
          flags: 'g'

        
      - name: Beanstalk Deploy my app
        uses: einaregilsson/beanstalk-deploy@v18
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: Periapt
          environment_name: ${{ secrets.AWS_SERVER_ENV_NAME }}
          region: eu-west-1
          version_label: "app-version-${{ steps.format-time.outputs.replaced }}"
          deployment_package: deploy.zip



      


      
